body {
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
}

#playerInfo{
  width: 500px;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  font-weight: Bold;
  padding-top: 10px;
  text-align: center;
}

#gameTitle {
  margin: 0 auto;
  font-size: 40px;
  height: 50px;
  width: 500px;
  text-align: center;
}

#gameBoard {
  background-image: url("http://www.chiquiplanet.com/board_games/rec/tic-tac-toe.gif");
  background-size: contain;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border: 5px solid gray;
}

#playerName{
  z-index: 3;
  height: 490px;
  max-width: 490px;
  margin: 0 auto;
  background: #000080;
  opacity: 1;
  font-size: 40px;
  position: absolute;
}

#nameInput{
  margin: 30% auto;
  width: 100%;
  height: 100%;
  top: 25%;
  left: 25%;
  right: 25%;
  text-align: center;
}

.inputColor{
  color: #FFF;
}

#playerMark{
  z-index: 2;
  height: 490px;
  max-width: 490px;
  width: 100%;
  background: #000080;
  position: absolute;
  margin: 0 auto;
  text-align: center;
}

#playerMark button{
  font-size: 60px;
  height: 100px;
  width: 100px;
}

#game{
  z-index: 0;
  height: 500px;
  width: 100%;
  max-width: 500px;
  position: absolute;
}

ul{
  position: relative;
  height: 100%;
  width: 100%;
  left: 0px;
  padding: 0;
}

.square{
  z-index: 1;
  height: 160px;
  width: 160px;
  max-width: 160px;
  display: inline-block;
}

.holder{
  z-index:0;
  height: 160px;
  width: 160px;
  display: block;
  text-align: center;
  position: absolute;
  font-size: 100px;
  font-family: 'Russo One', sans-serif;
  color: #000080;
}

.pageGone{
  height: 1px;
  width: 1px;
  opacity: 0.0;
  display: none;
}
